*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: black;
}
main{
    margin: 3rem;
}
.container{
     display: flex;
    
    
     

}
.content{
    width: 400px;
    
}
.heading{
    margin-bottom: 2rem;
    font-weight: 800;
    font-size: 35px;
}
.text{
    line-height: 24px;
    font-size: 22px;
}
.text2{
    line-height: 24px;
    font-size: 23px;
    margin-top: 2rem;
}
.image{
    
   margin-left: 8rem;
}
footer{
    margin: 3rem;
}
.contentfooter{
    display: flex;
    width: 400px;
   
}
.classes{
  margin-left: 8rem;
  margin-top: 5rem;

}
.textfooter{
    font-weight: bold;
    font-size: 23px;
    width: 200px;
}

.textfooter2{
    margin-top:  15px;
}

.textfooter2-{
    margin-top:  15px;
   
}
@media (max-width: 992px){
   

}